{% extends 'base.html.twig' %}

{% block title %}Changez de mot de passe{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Mot de passe</a></li>
{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Changez de mot de passe</h5>
            </div>
            <div class="card-body">
                <form method="post" action="{{ path('reset_password') }}">
                    {% if error is not null %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    {% if success is not null %}
                        <div class="alert alert-primary">{{ success }}</div>
                    {% endif %}
                    <div>
                        <div class="form-group fill">
                            <label class="floating-label" for="password">Mot de passe actuel</label>
                            <input type="password" name="password" required class="form-control" id="password">
                        </div>
                    </div>
                    <div>
                        <div class="form-group fill">
                            <label class="floating-label" for="newPassword">Nouveau mot de passe</label>
                            <input type="password" name="newPassword" required class="form-control" id="newPassword">
                        </div>
                    </div>
                    <button type="submit" class="btn  btn-primary">MODIFIER</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}